* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Space Grotesk", serif;

  /* COLORS */
  --primary: #00a4b8;
  --secondary: #045b6b;
  --light-primary: #eafdff;
  --opacity: #00a3b81f;
  --black: #000000;
  --gray: #4a4a4a;
  --white: #ffffff;
  /* BACKGROUND */
  --background: #fbfbfb;
  /* FONT-SIZE */
  --title: 64px;
  --subtitle: 24px;
  --text: 18px;
  --small-text: 13px;
}

/* CSS RESET */
a {
  color: var(--primary);
  text-decoration: none;
}

/* FLEX CLASSES */
.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.jcenter {
  justify-content: center;
}

.jstart {
  justify-content: flex-start;
}

.jend {
  justify-content: flex-end;
}

.jbetween {
  justify-content: space-between;
}

.jaround {
  justify-content: space-around;
}

.acenter {
  align-items: center;
}

.astart {
  align-items: flex-start;
}

.aend {
  align-items: flex-end;
}

.container {
  width: 100%;
  height: auto;
  min-height: 20vh;
  padding: 20px 100px;
}

main a,
p,
h1,
h2,
h3,
b,
li,
button,
span {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  border-radius: 6px;
}

.hidden {
  display: none;
}
