/* REUSABLE */
.divider {
  width: 100%;
  text-align: center;
  height: 100px;
  background-color: var(--secondary);
}

.divider p {
  font-size: calc(var(--subtitle) - 4px);
  font-weight: 500;
  color: var(--white);
}

.reverse {
  flex-direction: row-reverse;
}

.reverse > .project_img {
  justify-content: flex-end !important;
}

.reverse > .project_img a {
  justify-content: flex-end !important;
}

.colored_bg {
  background-color: #e7f5fd !important;
}

.full_img {
  width: 100% !important;
}

.full_img img {
  width: 80% !important;
}

/* MAIN PROJECTS PAGE */
.banner {
  width: 100%;
  height: 12vh;
  background-color: var(--primary);
}

.projects_title {
  font-size: calc(var(--subtitle) + 4px);
  font-weight: 500;
  color: var(--white);
  padding-bottom: 1%;
}

.projects {
  width: 100%;
  height: auto;
}

/* PROJECT CARDS HORIZONTAL */
.project {
  width: 100%;
  height: auto;
  min-height: 400px;
  background-color: var(--white);
  padding: 0px 200px;
}

.project_img {
  width: 80%;
}

.project_img img {
  width: 70%;
}

.project_text {
  width: 100%;
  height: 100%;
}

.project_title {
  color: var(--secondary);
  font-size: calc(var(--subtitle) + 4px);
  font-weight: 600;
  text-align: center;
  padding-bottom: 4%;
  text-align: left;
}

.project_desc {
  text-align: left;
  text-align: justify;
  margin-bottom: 30px;
}

.project_desc a {
  text-decoration: underline;
}

/* PROJECT CARDS VERTICAL */

.projects_vertical {
  gap: 4%;
  padding: 0px 200px;
  flex-wrap: wrap;
}

.p_vertical {
  width: 35vw !important;
  height: auto;
  padding: 0px 0px !important;
}

.p_vertical {
  width: 100%;
  margin-bottom: 5%;
}

.p_vertical .project_text {
  align-items: center;
}

.p_vertical .project_img {
  width: 100%;
  justify-content: center;
  margin-bottom: 5%;
}

.p_vertical .project_img img {
  width: 100%;
}

.p_vertical .project_text .project_desc {
  margin-bottom: 3%;
  text-align: center;
}

/* PROJECTS INDIVUDAL PAGES */
.project_text ul {
  margin-left: 18px;
}
.project_text ul li {
  margin: 10px 0px;
}
